/*body {
  height: 100%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}*/

nav {
  background-color: #2e6cca;
}

.theme-color {
  background-color: #4b87e1;
}
.side-nav a {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.side-nav li>a>i.icon-white {
    color: white;
    margin-right: 10px;
}

.side-nav .userView .circle {
  height: 100px;
  width: 100px;
  border-color: white;
  border: solid;
  margin-left: 20px;
}