/*body {
  height: 100%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}*/

nav {
  background-color: #2e6cca;
}

.theme-color {
  background-color: #4b87e1;
}

div.main {
  margin-top: 20px;
  margin-left: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.side-nav a {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.side-nav div {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.side-nav li>a>i.icon-white {
    color: white;
    margin-right: 10px;
}
ul#slide-out.side-nav.fixed.theme-color {
  max-width: 200px;
}
.side-nav .userView .circle {
  height: 100px;
  width: 100px;
  border-color: white;
  border: solid;
  margin: auto;
}

.side-nav .userView {
  padding: 0px;
}

.placeholder {
  padding: auto;
  width: 100%;
  height: 75%;
}

.goalButton {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.side-nav .divider {
  margin-top: 25px;
  margin-bottom: 15px;
  padding-top: 5px;
}

.questionDate{
  margin-right: 25px;
}

a.btn.login{
  padding-left:10px;
}
span.email{
  text-align: center;
  font-size: smaller !important;
}
span.name{
  text-align: center;
  font-size: large !important;
}

img.circle {
  margin: auto
  max-height: 150px;
  max-width: 150px;
}

div.white.card {
  max-width: 250px;
}

div.card-content {
  text-align: center;
}

i.material-icons.right {
  color: #9e9e9e;
}

button>a {
  color: white;
}

.btn-small {
  height: 20px;
  line-height: 20px;
  padding: 0 0.5rem;
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

blockquote p{
  display: inline;
  font-style: italic;
  font-size: 205%;
  font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", "Garamond", "Times New Roman", serif;
}

/*.motiPic{
  margin-left: auto;
  margin-right: auto;
}*/

.motiPic{
  left: 50%;
  height: 300px;
  width: 600px;
  overflow: hidden;
}

.motiPic img{
  height: 300px;
  width: auto;
}

.label-header {
  font-size: 120%;
  font-weight: 600;
}
.text-green {
  color: green;
}

.text-red {
  color: red;
}

.error {
  border-color: red !important;
}
body {
  background-color: #92C3FC;
}

div.container {
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.topName {
  margin-bottom: 5px;
  margin-top: 5px;
}
.titleHead {
  background: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.gotd {
  background: white;
  min-height: 120px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 10px;
}
.titleText {
  margin: 0px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0px;
}
div.col.input-field {
  margin: 0px;
}
.dashboardBox {
  padding-top: 5px;
  background: white;
}
div.collapsible-header {
  background-color: #50E3C2;
  border: none;
}
div.recharts-wrapper {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.statsBox {
  padding-top: 15px;
  background: white;
  min-height: 280px;
}
.setGoal {
  padding-left: 15px;
}

i.material-icons.small.return {
  margin-top: 25px;
  color: #9e9e9e;
}

i.material-icons.tiny.edit {
  margin-top: 25px;
  color: #9e9e9e;
}

h4.focusPro {
  color: white;
  margin-left: 12%;
}

div.collapsible-body.site {
  padding-left: 0px;
  padding-right: 10px
  padding-top: 10px;
  padding-bottom: 10px;
}

.settingsBox {
  padding-top: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  background: white;
}

button#pageDropDown.btn.btn-default.dropdown-toggle {
  background-color: #50E3C2;
  color: black;
}

table.table.table-hover.table-bordered {
  border: 1px solid;
  outline: black;
}

.landing {
  background: white;
  padding: 15px;
}

.FPicon {
  margin: auto;
}
.meetTeam {
  margin-left: 20%;
  margin-right: 5%;
}
@media screen and (max-width: 1000px) {
  div.main {
    margin: 20px !important;
  }
}