{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jquery": true,
  },
  "extends": "airbnb",
  "rules": {
    "max-len": [1, 150, 2, {ignoreComments: true}],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "jsx-a11y/href-no-hash": 0,
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "linebreak-style": 1,
    "camelcase": 1,
    "react/prefer-stateless-function": 1
  }
}